absl-py==0.7.0
alabaster==0.7.12
asn1crypto==0.24.0
astor==0.7.1
Babel==2.6.0
backports.functools-lru-cache==1.5
backports.weakref==1.0.post1
beautifulsoup4==4.7.1
boto==2.49.0
boto3==1.9.101
botocore==1.12.101
bz2file==0.98
certifi==2019.3.9
chardet==3.0.4
Click==7.0
cloudpickle==0.8.0
colorama==0.4.1
configobj==5.0.6
cryptography==2.1.4
cycler==0.10.0
dask==2021.10.0
decorator==4.3.2
docutils==0.14
enum34==1.1.6
Flask==1.0.2
funcsigs==1.0.2
futures==3.2.0
gast==0.2.2
gensim==3.7.1
get==2019.3.22
grpcio==1.18.0
h5py==2.9.0
idna==2.8
imagesize==1.1.0
ipaddress==1.0.17
IPy==1.0
itsdangerous==1.1.0
Jinja2==2.10
jmespath==0.9.3
json-encoder==0.4.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.0.1
lxml==4.3.2
Markdown==3.0.1
MarkupSafe==1.1.1
matplotlib==2.2.4
mock==2.0.0
networkx==2.2
nltk==3.4
numpy==1.16.2
opencv-python==4.0.0.21
packaging==19.0
pbr==5.1.2
Pillow==5.4.1
post==2019.3.22
protobuf==3.6.1
public==2019.3.22
pycrypto==2.6.1
pyfiglet==0.8.post1
Pygments==2.3.1
pygobject==3.26.1
pyparsing==2.3.1
python-dateutil==2.8.0
pytz==2018.9
PyWavelets==1.0.2
pyxdg==0.25
query-string==2019.3.22
request==2019.3.22
requests==2.21.0
s3transfer==0.2.0
scikit-image==0.14.2
scipy==1.2.1
SecretStorage==2.3.1
singledispatch==3.4.0.3
six==1.12.0
smart-open==1.8.0
snowballstemmer==1.2.1
soupsieve==1.8
Sphinx==1.8.4
sphinx-rtd-theme==0.4.3
sphinxcontrib-websupport==1.1.0
subprocess32==3.5.3
tensorboard==1.12.2
tensorflow==1.12.0
termcolor==1.1.0
toolz==0.9.0
typing==3.6.6
urllib3==1.24.1
virtualenv==16.4.1
Werkzeug==0.14.1
